.newsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card img {
  height: 200px;
  width: 360px;
}

@media (max-width: 768px) {
  .card img {
    height: 200px;
    width: 360px;
  }
}
