*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #F5F6FA;
}

.signin{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1B2A41;
  border: 1px solid #000;
}